<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <% ticketList.data.tickets.map(ticket => { %>
            <p><%= ticket.subject %>
                created by 
                <%= ticket.requester_id  %>
                on 
                <%= ticket.created_at.slice(0, 10) %>
                with ID
                <%= ticket.id %>
            </p>
           <% }) %> 

        <% if(ticketList.data.next_page !== null) { %>
        <form action="/listall" method="POST">
           <input type="hidden" name="url" value=<%= ticketList.data.next_page %>>
           <button type="submit">Next Page</button>
       </form>
       <% } %>
       <% if(ticketList.data.previous_page !== null) { %>
       <form action="/listall" method="POST">
            <input type="hidden" name="url" value=<%= ticketList.data.previous_page %>>
            <button type="submit">Previous Page</button>
        </form> 
        <% } %>
        <a href="/">Home</a>
    </body>
</html>